body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.options .dropdown {
    width: 120px;
    max-width: 100%;
}

.dropdown, .radioButtons, .button {
    font-size: 16px;
}

.labels {
    font-weight: bold;
}

.button {
    padding: 6px 8px;
    background-color: #E5E4E2;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #D3D3D3;
}

.graphs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

